footer {
  p {
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    padding: 4.0rem;
    color: #575757;

    a {
      color: inherit;
      &:hover {
        opacity: .8;
      }
    }
  }
}