
.container__title {
  hr {
    margin: 1.5rem 0;
    background-color: #2b2b2b;
  }

  h1 {
    height: max-content;
    font-size: 22rem;
    letter-spacing: -16px;
    line-height: 300px;
    text-align: center;
    text-transform: uppercase;
  }
}