app-menu-bar {
  position: sticky;
  top: 0;
}
main {
  max-width: 1440px;
  margin: 0 auto 4.0rem;
  padding: 0 3.2rem;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0 1.6rem;
  }
}