<app-title></app-title>
<div class="container__articles">
  <div class="articles__main">
    <app-large-card
      Id="1"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT69v1Skzvb25wrRQ6RZ46yTFT0NahSZsMx_w&usqp=CAU"
      cardDate="January 11, 2022"
      cardTitle="Commodo labore in dolore est sunt labore labore sunt"
      cardDescription="Nisi aliqua enim commodo nulla. Duis sunt eu occaecat reprehenderit amet culpa dolore deserunt culpa mollit deserunt. Ad pariatur culpa anim culpa ex. Ipsum voluptate eu laborum do ullamco eiusmod."
    ></app-large-card>
  </div>
  <div class="articles__side">
    <app-small-card 
      Id="2"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs1qxgQ9cPBoQnVkS3WFJtdzvaBFpUvBpfqQ&usqp=CAU"
      cardDate="January 11, 2022"
      cardTitle="Commodo labore in dolore est sunt labore labore sunt"
    ></app-small-card>
    <hr>
    <app-small-card
      Id="3"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQReY7oLCaij0IdfcRb-ZDH5Af5yGb-2M-lHw&usqp=CAU"
      cardDate="January 20, 2022"
      cardTitle="Voluptate ad laborum tempor voluptate velit excepteur sunt laboris Lorem aliqua laborum cupidatat."
    ></app-small-card>
    <hr>
    <app-small-card
      Id="4"
      photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQV-TKIpFovYMbKwQhKxYhxbdBYu8HLOtVMLw&usqp=CAU"
      cardDate="January 25, 2022"
      cardTitle="Minim sit ad cillum consequat id incididunt exercitation et."
    ></app-small-card>
  </div>
</div>