<header>
  <nav>
    <svg-icon src="assets/logo.svg" [svgStyle]="{ 'width.px': 48, 'height.px': 48 }"></svg-icon>
    <ul>
      <li>
        <a href="/" [ngClass]="isActive"> Blog </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/yasminhernandes" target="_blank"> Linkedin </a>
      </li>
       <li>
        <a href="https://github.com/yasminhernandes" target="_blank"> Github </a>
      </li>
      <li>
        <a href="https://instagram.com/yasminhernandesdev" target="_blank"> Instagram </a>
      </li>
    </ul>
  </nav>
</header>
